/*=================*/

/*COLOR VARIABLES :*/

/*=================*/

/*currently background color for footer / header*/

/*color of the font on the header / footer for some elements*/

/*plain white color, used to create a background in some elements*/

/*=================*/

/*FONTS VARIABLES :*/

/*=================*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*Quicksand available*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*===============================*/

/*BUTTONS AND EFFECTS VARIABLES :*/

/*===============================*/

/*news*/

/*news*/

/*=================*/

/*COLOR VARIABLES :*/

/*=================*/

/*currently background color for footer / header*/

/*color of the font on the header / footer for some elements*/

/*plain white color, used to create a background in some elements*/

/*=================*/

/*FONTS VARIABLES :*/

/*=================*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*Quicksand available*/

/*300, 400 or 700 availables*/

/*check for global colors above or create your own*/

/*===============================*/

/*BUTTONS AND EFFECTS VARIABLES :*/

/*===============================*/

/*news*/

/*news*/

/*EXTENDS:*/

.footerFont,
footer,
footer nav a {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 1.1em;
  color: #ffffff;
}

.mainTitleFont,
.mainParcoursMusical div section #headerParcours h3 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 1.5em;
  color: #1a1a1a;
}

.mainSubtitleFont,
.mainParcoursMusical aside section h2,
.mainParcoursMusical div section footer div h4 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 1.2em;
  color: #1a1a1a;
}

.mainFont,
.mainParcoursMusical aside section label p,
.mainParcoursMusical div section main {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 1em;
  color: #1a1a1a;
}

.lightFont,
.mainParcoursMusical aside section h3,
.mainParcoursMusical div section footer div p {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 1.7rem;
  color: #1a1a1a;
}

.borderLeftBlue {
  border-left: #35a1e6 solid 0.5rem;
}

.borderLeftPink {
  border-left: #e83377 solid 0.5rem;
}

.borderLeftOrange {
  border-left: #fc9633 solid 0.5rem;
}

.borderLeftGreen {
  border-left: #4dd433 solid 0.5rem;
}

.button {
  display: inline-block;
  color: #ffffff;
  background-color: #35a1e6;
  padding: 1rem 2.3rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}

.shadow {
  box-shadow: 0px 0px 7px 1px rgba(51, 51, 51, 0.2);
}

.paddingNews {
  padding: 0 1.3em;
}

/*========*/

body {
  font-family: QuickSand;
}

/* ---------------- HEADER ---------------- */

header #contact-connection {
  background-color: #1A1A1A;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: #FC9633 solid 1.3vh;
  font-size: 2.5vh;
}

header #contact-connection img {
  width: 3%;
  margin: 0.4vw;
}

header #logo-mobile {
  display: none;
}

header #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(/images/header.png?0d26ec4bab4e666eb5f9ceb18592f5a0);
  background-size: cover;
}

header #header img {
  width: 330px;
}

header nav {
  background-color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: #FC9633 solid 1.3vh;
}

header nav ul {
  height: 8vh;
}

header nav li {
  display: inline;
}

header li a {
  height: 9vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
  color: white;
  font-size: 3vh;
}

header li a:hover {
  background: #333333;
  text-decoration: none;
  color: white;
}

header ul.menu li.icon {
  display: none;
}

/* ---------------- HEADER END ---------------- */

/* ---------------- ACCUEIL PAGE ---------------- */

/*main{

	header{

	 	h2{ @extend .mainTitleFont;}

		p{
			@extend .mainFont;
			padding-left: 0.7em;
			// line-height: 1.75em; //need ot choose
		}

		a{
			@extend .button;
			@extend .mainFont;
		}
		a::after{
			content: $mainButtonSymbol;
			padding-left: 3.3rem;
		}
	}

	section{
		padding: 2em 0;

		header {
			background-color: $mainNewsHeaderColor;
			p{
				@extend .mainTitleFont;
				color: $caemWhite;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}
		}

		article{
			// height: 50vh;
			.new{
				@extend .shadow;
				padding-bottom: 1em;
			}
			figure{
				figcaption{
					@extend .paddingNews;
					background-image: url('../img/trame_footer.png');
					padding-bottom: 1em;
					h2{
						@extend .mainTitleFont;
						padding-top: 0.5em;
					}
					time{
						@extend .mainFont;
					}
				}

				img{
					padding: $mainNewsImgPadding;
					// max-height: $mainNewsImgSizeHeight;
				}
			}
			p{
				@extend .mainFont;
				@extend .paddingNews;
				overflow: hidden;
				max-height: 10vh;
			}

			a{
				@extend .button;
				@extend .paddingNews;
				@extend .mainFont;

			}
		}
	}
}


.blue{
	border-left: $caemBlue solid 0.65rem;
}
.green{
	border-left: $caemGreen solid 0.65rem;
}
.pink{
	border-left: $caemPink solid 0.65rem;
}
.orange{
	border-left: $caemOrange solid 0.65rem;
}*/

/* ---------------- ACCUEIL PAGE END ---------------- */

/* ---------------- PAGE PARCOURS MUSICAL ---------------- */

.mainParcoursMusical aside {
  margin: 0;
  padding: 0;
  padding: 2vh;
  border-right: 1px solid #f2f2f2;
  background-color: #ffffff;
}

.mainParcoursMusical aside section {
  margin: 0;
  padding: 0;
  margin-bottom: 3vh;
}

.mainParcoursMusical aside section h2 {
  margin: 0;
  padding: 0;
  padding: 2vh 0vh 2vh 0vh;
  text-align: center;
}

.mainParcoursMusical aside section h3 {
  margin: 0;
  padding: 0;
  padding: 1vh 0vh 1.5vh 0vh;
}

.mainParcoursMusical aside section label {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vh 0vh 1vh 0vh;
}

.mainParcoursMusical aside section label p {
  margin: 0;
  padding: 0;
  margin-left: 1vw;
}

.mainParcoursMusical aside section label input {
  margin: 0;
  padding: 0;
  margin-right: 1vw;
}

.mainParcoursMusical div {
  margin: 0;
  padding: 0;
  padding: 2vh;
}

.mainParcoursMusical div * {
  margin: 0;
  padding: 0;
}

.mainParcoursMusical div section {
  margin-bottom: 2vh;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.mainParcoursMusical div section #headerParcours {
  background-color: #fc9633;
  padding: 1vh 0vh 1vh 0vh;
}

.mainParcoursMusical div section #headerParcours h3 {
  padding: 0vh 2vh 0vh 2vh;
}

.mainParcoursMusical div section main {
  padding: 2vh;
}

.mainParcoursMusical div section footer div {
  text-align: center;
}

.mainParcoursMusical div section footer div h4 {
  padding: 1vh 0vh 1vh 0vh;
}

.mainParcoursMusical div section footer div p {
  padding: 1vh 0vh 1vh 0vh;
}

.mainParcoursMusical div section figure {
  padding: 1vh 1vh 1vh 1vh;
}

.mainParcoursMusical div section figure div {
  margin: 0;
  padding: 0;
  padding: 1vh 1vh 1vh 1vh;
}

.mainParcoursMusical div section figure div img {
  max-width: 100%;
  max-height: 30vh;
}

.activityHide {
  display: none;
}

/* ---------------- PAGE PARCOURS MUSICAL END ---------------- */

/* ---------------- PAGE EQUIPE ---------------- */

.mainEquipe .contribLine,
.mainEquipe .adminLine {
  margin-bottom: 2vh;
}

.mainEquipe .contribLine div,
.mainEquipe .adminLine div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainEquipe .contribLine div h3,
.mainEquipe .adminLine div h3 {
  margin-top: 1vh;
  color: #fc9633;
}

.mainEquipe .contribLine div p,
.mainEquipe .adminLine div p {
  font-size: 3vh;
}

.mainEquipe .adminOthers {
  font-size: 3vh;
}

.mainEquipe #sectionAdministration h2 {
  margin-top: 5vh;
  margin-bottom: 4vh;
}

/* ---------------- PAGE EQUIPE END ---------------- */

/* ---------------- PAGE TARIFS ---------------- */

.mainTarifs ul {
  font-size: 2.5vh;
}

.mainTarifs h2 {
  color: #fc9633;
}

.titleTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarifsIntro {
  font-size: 2.5vh;
}

.disclaimer {
  margin-top: 2vh;
  color: #35a1e6;
  font-weight: bold;
}

/* ---------------- PAGE TARIFS END ---------------- */

/* ---------------- FOOTER ---------------- */

#bgImage {
  background-color: #1a1a1a;
  background-image: url(/images/trame_footer.png?28b2055d5c4e8e5368b14e85561883c8);
  border-top: 1.5vh solid #fc9633;
}

footer {
  padding-top: 2vh;
}

footer .caemSection address {
  padding-top: 4vh;
}

footer .caemSection address .caemInfos {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .caemSection .socialNetwork {
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4vh;
}

footer nav {
  border-bottom: 1px solid #ffffff;
  padding: 5vh 0vh 2vh 0vh;
  opacity: 0.5;
}

footer nav a:hover {
  color: #ffffff;
}

footer .banner div {
  padding: 2vh 0vh 2vh 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ---------------- FOOTER END ---------------- */

/* ------------ MEDIA QUERIES ------------ */

/* ------------ HEADER MEDIA QUERIES ------------ */

@media screen and (max-width: 1800px) {
  li a {
    height: 9.2vh;
  }

  #connection {
    margin-left: -3vw;
  }
}

@media screen and (max-width: 1650px) {
  li a {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #connection {
    margin-left: -5vw;
  }
}

@media screen and (max-width: 1400px) {
  li a {
    height: 9vh;
    padding-left: 1vh;
    padding-right: 1vh;
  }
}

@media screen and (max-device-width: 1400px) {
  li a {
    height: 9.4vh;
  }
}

@media screen and (max-width: 1250px) {
  nav ul {
    margin-left: -5vw;
  }

  li a {
    font-size: 2.8vh;
  }
}

@media screen and (max-device-width: 1024px) {
  nav {
    display: block;
    border: none;
  }

  #logo-desktop {
    display: none;
  }

  #logo-mobile {
    display: inline;
  }

  #logo-mobile img {
    width: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #connection {
    margin-left: 40vw;
    font-size: 3vh;
  }

  #header img {
    width: 250px;
  }

  .menu li a {
    font-size: 30px;
    margin-top: 1vh;
  }

  ul.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 9vh;
  }

  ul.menu li:not(:first-child) {
    display: none;
  }

  ul.menu li.icon {
    float: right;
    display: inline-block;
  }

  .icon a:hover {
    background: none;
  }

  ul.menu.responsive {
    position: relative;
    height: 40vh;
  }

  ul.menu.responsive li.icon {
    margin-top: 1vh;
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.menu.responsive li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1vh;
    margin-bottom: -2vh;
  }

  ul.menu.responsive li a {
    display: block;
    text-align: left;
  }

  li a {
    height: 7vh;
  }
}

@media screen and (max-width: 980px) {
  li a {
    font-size: 2.5vh;
  }
}

@media screen and (max-width: 890px) {
  li a {
    font-size: 2.3vh;
  }
}

@media screen and (max-width: 820px) {
  li a {
    font-size: 2.1vh;
    padding-left: 1vh;
    padding-right: 1vh;
  }
}

@media screen and (max-device-width: 800px) {
  ul.menu.responsive li {
    margin-top: 1.5vh;
    margin-bottom: -2vh;
  }

  ul.menu.responsive li.icon {
    margin-top: 1.5vh;
  }
}

@media screen and (max-width: 770px) {
  li a {
    font-size: 1.8vh;
  }
}

@media screen and (max-width: 680px) {
  li a {
    padding-left: 0.5;
    padding-right: 0.5;
  }
}

@media screen and (max-device-width: 650px) {
  #header img {
    width: 120px;
  }

  .menu li a {
    font-size: 20px;
    margin-top: 4vh;
  }

  #logo-mobile img {
    width: 6vw;
  }

  #connection {
    margin-left: 50vw;
    font-size: 5vh;
  }

  ul.menu {
    height: 15vh;
  }

  ul.menu.responsive {
    height: 58vh;
  }

  ul.menu.responsive li {
    margin-top: -0.5vh;
    margin-bottom: -0.5vh;
  }

  ul.menu.responsive li.icon {
    margin-top: -0.3vh;
  }
}

@media screen and (max-device-width: 450px) {
  #header img {
    width: 150px;
  }

  .menu li a {
    font-size: 20px;
    margin-top: 0vh;
  }

  #logo-mobile img {
    width: 8vw;
  }

  #connection {
    margin-left: 20vw;
    font-size: 3vh;
  }

  ul.menu {
    height: 8vh;
  }

  ul.menu.responsive {
    height: 35vh;
  }

  ul.menu.responsive li {
    margin-top: 1.7vh;
    margin-bottom: -2vh;
  }

  ul.menu.responsive li.icon {
    margin-top: 1.7vh;
  }
}

@media screen and (max-device-width: 360px) {
  ul.menu.responsive li {
    margin-top: 1.3vh;
    margin-bottom: -2vh;
  }

  ul.menu.responsive li.icon {
    margin-top: 1.3vh;
  }
}

/* ------------ FOOTER MEDIA QUERIES ------------ */

@media screen and (max-width: 768px) {
  footer nav li {
    padding-bottom: 3vh;
  }

  footer nav {
    padding: 8vh 0vh 5vh 0vh;
  }
}
