@import "stylesheets/bootstrap";
 //TO EASILY CHANGE THE STYLE OF THE WEBSITE, GO TO _configstyle.scss FILE
@import 'mixinstyle';


/*EXTENDS:*/
.headerFont{@include font($headerNavFontType, $headerNavFontWeight, $headerNavFontSize, $headerNavFontColor);}

.mainTitleFont{@include font($mainTitleType, $mainTitleWeight, $mainTitleSize, $mainTitleColor);}

.mainSubtitleFont{@include font($mainSubtitleType, $mainSubtitleWeight, $mainSubtitleSize, $mainSubtitleColor)}

.mainFont{@include font($mainFontType, $mainFontWeight, $mainFontSize, $mainFontColor);}

.lightFont{@include font($lightFontType, $lightFontWeight, $lightFontSize, $lightFontColor);}

.footerFont{@include font($footerFontType, $footerFontWeight, $footerFontSize, $footerFontColor);}


.borderLeftBlue{@include borderLeft($caemBlue);}
.borderLeftPink{@include borderLeft($caemPink);}
.borderLeftOrange{@include borderLeft($caemOrange);}
.borderLeftGreen{@include borderLeft($caemGreen);}
.button{@include button($caemWhite,$caemBlue);}
.shadow{@include shadow($mainNewsShadow);}
.paddingNews{@include padding($mainNewsPadding);}

/*========*/




body{
	font-family: QuickSand;
}

/* ---------------- HEADER ---------------- */
#header{
	@extend .headerFont;

	#contact-connection{
		background-color: $caemDark;
		color: $caemWhite;
		padding: 0.4em;
	}
	#contact-connection img{
		max-height: 33px;
	}

	#contact-connection a{
		color: $caemWhite !important;
		text-decoration: underline;
	}

	#header-img{
		padding-top: 30px;
		height: 370px;
		background: url("../img/header.png") top no-repeat, url("../img/trame_footer.png") repeat, $caemDark;
		background-size: cover;
	}
	.navbar-caem{
		border-bottom: 1.5vh solid $caemOrange;
	}

	.navbar-caem img{
		height: 40px;
	}

	@media (min-width: $grid-float-breakpoint-max) {

		.navbar-nav {
	    width: 100%;
	    text-align: center;
	    > li {
	      float: none;
	      display: inline-block;
	    }
	  }
	}
}
/* ---------------- HEADER END ---------------- */





/* ---------------- ACCUEIL PAGE ---------------- */
main{

	#presentation{
		margin: 1em 1em;
	 	h2{ @extend .mainTitleFont;}

		p{
			@extend .mainFont;
			padding-left: 0.7em;
		}

		a{
			@extend .button;
			@extend .mainFont;
		}

		a::after{
			content: $mainButtonSymbol;
			padding-left: 1em;
		}
	}

	#news{
		padding: 1em;
		padding-bottom: 3em;
		header {
			background-color: $mainNewsHeaderColor;
			h2{
				@extend .mainTitleFont;
				color: $caemWhite;
				padding: 0.5em 1em;
			}
		}

			.new{
				@extend .shadow;
				padding-bottom: 1em;
			}
			figure{
				figcaption{
					@extend .paddingNews;
					background-image: url('../img/trame_footer.png');
					padding-bottom: 1em;
					h2{
						@extend .mainTitleFont;
						padding-top: 0.5em;
					}
					time{
						@extend .mainFont;
					}
				}

				img{
					padding: $mainNewsImgPadding;
					height: $mainNewsImgSizeHeight;
					max-width: $mainNewsImgSizeWidth;
				}
			}
			p{
				@extend .mainFont;
				@extend .paddingNews;
				overflow: hidden;
				max-height: 4em;
			}

			a{
				@extend .button;
				@extend .mainFont;

			}

			a::after{
				content: $mainButtonSymbol;
				padding-left: 1em;
			}
		}

}

/* ---------------- ACCUEIL PAGE END ---------------- */





/* ---------------- PAGE PARCOURS MUSICAL ---------------- */
.mainParcoursMusical{

	aside
	{
		margin: 0;
		padding: 0;
		padding: 2vh;
		border-right: 1px solid #f2f2f2;
		background-color: $caemWhite;


		section
		{
			margin:0;
			padding:0;
			margin-bottom: 3vh;

			h2
			{
				@extend .mainSubtitleFont;
				margin:0;
				padding:0;
				padding: 2vh 0vh 2vh 0vh;
				text-align: center;
			}

			h3
			{
				@extend .lightFont;
				margin:0;
				padding:0;
				padding: 1vh 0vh 1.5vh 0vh;
			}

			label
			{
				background-color: #f2f2f2;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1vh 0vh 1vh 0vh;

				p  //gérer la font en mixin
				{
					margin:0;
					padding:0;
					margin-left: 1vw;
					@extend .mainFont;
				}

				input
				{
					margin:0;
					padding:0;
					margin-right: 1vw;
				}
			}
		}
	}

	div
	{
		margin: 0;
		padding: 0;
		padding: 2vh;

		*{
			margin:0;
			padding:0;
		}

		section
		{
			margin-bottom: 2vh;
			background-color: $caemWhite;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);

			header
			{
				background-color: $mainChartColor;
				padding: 1vh 0vh 1vh 0vh;

				h3
				{
					@extend .mainTitleFont;
					padding: 0vh 2vh 0vh 2vh;

				}
			}

			main
			{
				padding:2vh;
				@extend .mainFont;
			}

			footer
			{


				div
				{
					text-align: center;

					h4
					{
						@extend .mainSubtitleFont;
						padding: 1vh 0vh 1vh 0vh;

					}

					p
					{

						@extend .lightFont;
						padding: 1vh 0vh 1vh 0vh;
					}
				}
			}

			figure
			{
				padding: 1vh 1vh 1vh 1vh;


				div
				{
					margin:0;
					padding:0;
					padding: 1vh 1vh 1vh 1vh;

					img
					{
						max-width: 100%;
						max-height: 30vh;
					}
				}
			}
		}

	}
}

.activityHide
{
	display: none;
}
/* ---------------- PAGE PARCOURS MUSICAL END ---------------- */




/* ---------------- PAGE EQUIPE ---------------- */
.mainEquipe{
	.contribLine, .adminLine{
		margin-bottom: 2vh;
	}

	.contribLine div, .adminLine div{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.contribLine div h3, .adminLine div h3{
		margin-top: 1vh;
		color: $caemOrange;
	}

	.contribLine div p, .adminLine div p{
		font-size: 3vh;
	}

	.adminOthers{
		font-size: 3vh;
	}

	#sectionAdministration h2{
		margin-top: 5vh;
		margin-bottom: 4vh;
	}
}
/* ---------------- PAGE EQUIPE END ---------------- */




/* ---------------- PAGE TARIFS ---------------- */

	.mainTarifs ul{
		font-size: 2.5vh;
	}

	.mainTarifs h2{
		color: $caemOrange;
	}

	.titleTop{
		display: flex;
		justify-content: center;
	}

	.tarifsIntro{
		font-size: 2.5vh;
	}

	.disclaimer{
		margin-top: 2vh;
		color: $caemBlue;
		font-weight: bold;
	}


/* ---------------- PAGE TARIFS END ---------------- */




/* ---------------- FOOTER ---------------- */
#bgImage{
	background-color: $headerFooterMainColor;
	background-image: url(../img/trame_footer.png);
	border-top: 1.5vh solid $mainChartColor;
}

footer
{
	@extend .footerFont;

	padding-top: 2vh;

	.caemSection
	{
		address
		{
			padding-top: 4vh;

			.caemInfos
			{
				padding: 0;
				margin: 0;
				display: flex;
				align-items: center;
			}
		}

		.socialNetwork
		{
			font-size: 1.1em;
			display: flex;
			flex-flow: column;
			align-items: center;
			padding-top: 4vh;
		}
	}



	nav
	{
		border-bottom: 1px solid $caemWhite;
		padding: 5vh 0vh 2vh 0vh;
		opacity: 0.5;

		a
		{
			@extend .footerFont;
		}

		a:hover
		{
			color: $caemWhite;
		}
	}

	.banner div
	{
		padding: 2vh 0vh 2vh 0vh;
		display: flex;
		justify-content: center;
	}
}
/* ---------------- FOOTER END ---------------- */

/* ------------ FOOTER MEDIA QUERIES ------------ */

@media screen and (max-width: 768px){
	footer nav li
	{
		padding-bottom: 3vh;
	}

	footer nav
	{
		padding: 8vh 0vh 5vh 0vh;
	}
}
