/*=================*/
/*COLOR VARIABLES :*/
/*=================*/
/*currently background color for footer / header*/
/*color of the font on the header / footer for some elements*/
/*plain white color, used to create a background in some elements*/
/*=================*/
/*FONTS VARIABLES :*/
/*=================*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*Quicksand available*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*===============================*/
/*BUTTONS AND EFFECTS VARIABLES :*/
/*===============================*/
/*news*/
/*news*/
/*=================*/
/*COLOR VARIABLES :*/
/*=================*/
/*currently background color for footer / header*/
/*color of the font on the header / footer for some elements*/
/*plain white color, used to create a background in some elements*/
/*=================*/
/*FONTS VARIABLES :*/
/*=================*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*Quicksand available*/
/*300, 400 or 700 availables*/
/*check for global colors above or create your own*/
/*===============================*/
/*BUTTONS AND EFFECTS VARIABLES :*/
/*===============================*/
/*news*/
/*news*/
/*EXTENDS:*/
/* line 7, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.footerFont, footer, footer nav a {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 1.1em;
  color: #ffffff; }

/* line 9, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainTitleFont, .mainParcoursMusical div section header h3 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 1.5em;
  color: #1a1a1a; }

/* line 11, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainSubtitleFont, .mainParcoursMusical aside section h2, .mainParcoursMusical div section footer div h4 {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 1.2em;
  color: #1a1a1a; }

/* line 13, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainFont, .mainParcoursMusical aside section label p, .mainParcoursMusical div section main {
  font-family: Quicksand;
  font-weight: 400;
  font-size: 1em;
  color: #1a1a1a; }

/* line 15, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.lightFont, .mainParcoursMusical aside section h3, .mainParcoursMusical div section footer div p {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 1.7rem;
  color: #1a1a1a; }

/* line 19, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.borderLeftBlue {
  border-left: #35a1e6 solid 0.5rem; }

/* line 20, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.borderLeftPink {
  border-left: #e83377 solid 0.5rem; }

/* line 21, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.borderLeftOrange {
  border-left: #fc9633 solid 0.5rem; }

/* line 22, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.borderLeftGreen {
  border-left: #4dd433 solid 0.5rem; }

/* line 23, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.button {
  display: inline-block;
  color: #ffffff;
  background-color: #35a1e6;
  padding: 1rem 2.3rem;
  letter-spacing: 0.2rem;
  font-weight: 400; }

/* line 24, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.shadow {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(51, 51, 51, 0.2);
  -moz-box-shadow: 0px 0px 7px 1px rgba(51, 51, 51, 0.2);
  box-shadow: 0px 0px 7px 1px rgba(51, 51, 51, 0.2); }

/* line 25, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.paddingNews {
  padding: 0 1.3em; }

/*========*/
/* line 32, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
body {
  font-family: QuickSand; }

/* ---------------- HEADER ---------------- */
/* line 44, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header #contact-connection {
  background-color: #1A1A1A;
  color: white;
  display: flex;
  align-items: center;
  border-top: #FC9633 solid 1.3vh;
  font-size: 2.5vh; }

/* line 54, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header #contact-connection img {
  width: 3%;
  margin: 0.4vw; }

/* line 59, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header #logo-mobile {
  display: none; }

/* line 63, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header #header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../img/header.png");
  background-size: cover; }

/* line 71, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header #header img {
  width: 330px; }

/* line 75, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header nav {
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  border-bottom: #FC9633 solid 1.3vh; }

/* line 83, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header nav ul {
  height: 8vh; }

/* line 88, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header nav li {
  display: inline; }

/* line 93, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header li a {
  height: 9vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 3vw;
  padding-right: 3vw;
  color: white;
  font-size: 3vh; }

/* line 104, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header li a:hover {
  background: #333333;
  text-decoration: none;
  color: white; }

/* line 110, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
header ul.menu li.icon {
  display: none; }

/* ---------------- HEADER END ---------------- */
/* ---------------- ACCUEIL PAGE ---------------- */
/*main{

	header{

	 	h2{ @extend .mainTitleFont;}

		p{
			@extend .mainFont;
			padding-left: 0.7em;
			// line-height: 1.75em; //need ot choose
		}

		a{
			@extend .button;
			@extend .mainFont;
		}
		a::after{
			content: $mainButtonSymbol;
			padding-left: 3.3rem;
		}
	}

	section{
		padding: 2em 0;

		header {
			background-color: $mainNewsHeaderColor;
			p{
				@extend .mainTitleFont;
				color: $caemWhite;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}
		}

		article{
			// height: 50vh;
			.new{
				@extend .shadow;
				padding-bottom: 1em;
			}
			figure{
				figcaption{
					@extend .paddingNews;
					background-image: url('../img/trame_footer.png');
					padding-bottom: 1em;
					h2{
						@extend .mainTitleFont;
						padding-top: 0.5em;
					}
					time{
						@extend .mainFont;
					}
				}

				img{
					padding: $mainNewsImgPadding;
					// max-height: $mainNewsImgSizeHeight;
				}
			}
			p{
				@extend .mainFont;
				@extend .paddingNews;
				overflow: hidden;
				max-height: 10vh;
			}

			a{
				@extend .button;
				@extend .paddingNews;
				@extend .mainFont;

			}
		}
	}
}


.blue{
	border-left: $caemBlue solid 0.65rem;
}
.green{
	border-left: $caemGreen solid 0.65rem;
}
.pink{
	border-left: $caemPink solid 0.65rem;
}
.orange{
	border-left: $caemOrange solid 0.65rem;
}*/
/* ---------------- ACCUEIL PAGE END ---------------- */
/* ---------------- PAGE PARCOURS MUSICAL ---------------- */
/* line 220, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainParcoursMusical aside {
  margin: 0;
  padding: 0;
  padding: 2vh;
  border-right: 1px solid #f2f2f2;
  background-color: #ffffff; }
  /* line 229, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  .mainParcoursMusical aside section {
    margin: 0;
    padding: 0;
    margin-bottom: 3vh; }
    /* line 235, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    .mainParcoursMusical aside section h2 {
      margin: 0;
      padding: 0;
      padding: 2vh 0vh 2vh 0vh;
      text-align: center; }
    /* line 244, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    .mainParcoursMusical aside section h3 {
      margin: 0;
      padding: 0;
      padding: 1vh 0vh 1.5vh 0vh; }
    /* line 252, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    .mainParcoursMusical aside section label {
      background-color: #f2f2f2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1vh 0vh 1vh 0vh; }
      /* line 260, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
      .mainParcoursMusical aside section label p {
        margin: 0;
        padding: 0;
        margin-left: 1vw; }
      /* line 268, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
      .mainParcoursMusical aside section label input {
        margin: 0;
        padding: 0;
        margin-right: 1vw; }

/* line 278, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainParcoursMusical div {
  margin: 0;
  padding: 0;
  padding: 2vh; }
  /* line 284, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  .mainParcoursMusical div * {
    margin: 0;
    padding: 0; }
  /* line 289, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  .mainParcoursMusical div section {
    margin-bottom: 2vh;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); }
    /* line 295, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    .mainParcoursMusical div section header {
      background-color: #fc9633;
      padding: 1vh 0vh 1vh 0vh; }
      /* line 300, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
      .mainParcoursMusical div section header h3 {
        padding: 0vh 2vh 0vh 2vh; }
    /* line 308, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    .mainParcoursMusical div section main {
      padding: 2vh; }
    /* line 318, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    .mainParcoursMusical div section footer div {
      text-align: center; }
      /* line 322, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
      .mainParcoursMusical div section footer div h4 {
        padding: 1vh 0vh 1vh 0vh; }
      /* line 329, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
      .mainParcoursMusical div section footer div p {
        padding: 1vh 0vh 1vh 0vh; }
    /* line 338, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    .mainParcoursMusical div section figure {
      padding: 1vh 1vh 1vh 1vh; }
      /* line 343, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
      .mainParcoursMusical div section figure div {
        margin: 0;
        padding: 0;
        padding: 1vh 1vh 1vh 1vh; }

/* ---------------- PAGE PARCOURS MUSICAL END ---------------- */
/* ---------------- PAGE EQUIPE ---------------- */
/* line 359, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainEquipe .contribLine, .mainEquipe .adminLine {
  margin-bottom: 2vh; }

/* line 363, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainEquipe .contribLine div, .mainEquipe .adminLine div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* line 369, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainEquipe .contribLine div h3, .mainEquipe .adminLine div h3 {
  margin-top: 1vh;
  color: #fc9633; }

/* line 374, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainEquipe .contribLine div p, .mainEquipe .adminLine div p {
  font-size: 3vh; }

/* line 378, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainEquipe .adminOthers {
  font-size: 3vh; }

/* line 382, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainEquipe #sectionAdministration h2 {
  margin-top: 5vh;
  margin-bottom: 4vh; }

/* ---------------- PAGE EQUIPE END ---------------- */
/* ---------------- PAGE TARIFS ---------------- */
/* line 392, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainTarifs ul {
  font-size: 2.5vh; }

/* line 396, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.mainTarifs h2 {
  color: #fc9633; }

/* line 400, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.titleTop {
  display: flex;
  justify-content: center; }

/* line 405, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.tarifsIntro {
  font-size: 2.5vh; }

/* line 409, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
.disclaimer {
  margin-top: 2vh;
  color: #35a1e6;
  font-weight: bold; }

/* ---------------- PAGE TARIFS END ---------------- */
/* ---------------- FOOTER ---------------- */
/* line 420, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
#bgImage {
  background-color: #1a1a1a;
  background-image: url(../img/trame_footer.png);
  border-top: 1.5vh solid #fc9633; }

/* line 426, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
footer {
  padding-top: 2vh; }
  /* line 434, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  footer .caemSection address {
    padding-top: 4vh; }
    /* line 438, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    footer .caemSection address .caemInfos {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center; }
  /* line 447, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  footer .caemSection .socialNetwork {
    font-size: 1.1em;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 4vh; }
  /* line 459, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  footer nav {
    border-bottom: 1px solid #ffffff;
    padding: 5vh 0vh 2vh 0vh;
    opacity: 0.5; }
    /* line 470, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
    footer nav a:hover {
      color: #ffffff; }
  /* line 476, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  footer .banner div {
    padding: 2vh 0vh 2vh 0vh;
    display: flex;
    justify-content: center; }

/* ---------------- FOOTER END ---------------- */
/* ------------ MEDIA QUERIES ------------ */
/* ------------ HEADER MEDIA QUERIES ------------ */
@media screen and (max-width: 1800px) {
  /* line 495, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    height: 9.2vh; }
  /* line 499, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #connection {
    margin-left: -3vw; } }

@media screen and (max-width: 1650px) {
  /* line 505, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    padding-left: 2vw;
    padding-right: 2vw; }
  /* line 510, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #connection {
    margin-left: -5vw; } }

@media screen and (max-width: 1400px) {
  /* line 516, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    height: 9vh;
    padding-left: 1vh;
    padding-right: 1vh; } }

@media screen and (max-device-width: 1400px) {
  /* line 524, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    height: 9.4vh; } }

@media screen and (max-width: 1250px) {
  /* line 530, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  nav ul {
    margin-left: -5vw; }
  /* line 534, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    font-size: 2.8vh; } }

@media screen and (max-device-width: 1024px) {
  /* line 541, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  nav {
    display: block;
    border: none; }
  /* line 546, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #logo-desktop {
    display: none; }
  /* line 550, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #logo-mobile {
    display: inline; }
  /* line 554, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #logo-mobile img {
    width: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh; }
  /* line 560, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #connection {
    margin-left: 40vw;
    font-size: 3vh; }
  /* line 565, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #header img {
    width: 250px; }
  /* line 569, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  .menu li a {
    font-size: 30px;
    margin-top: 1vh; }
  /* line 575, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 9vh; }
  /* line 582, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu li:not(:first-child) {
    display: none; }
  /* line 586, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu li.icon {
    float: right;
    display: inline-block; }
  /* line 591, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  .icon a:hover {
    background: none; }
  /* line 596, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive {
    position: relative;
    height: 40vh; }
  /* line 601, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li.icon {
    margin-top: 1vh;
    position: absolute;
    right: 0;
    top: 0; }
  /* line 608, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: -2vh; }
  /* line 615, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li a {
    display: block;
    text-align: left; }
  /* line 621, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    height: 7vh; } }

@media screen and (max-width: 980px) {
  /* line 627, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    font-size: 2.5vh; } }

@media screen and (max-width: 890px) {
  /* line 633, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    font-size: 2.3vh; } }

@media screen and (max-width: 820px) {
  /* line 639, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    font-size: 2.1vh;
    padding-left: 1vh;
    padding-right: 1vh; } }

@media screen and (max-device-width: 800px) {
  /* line 647, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li {
    margin-top: 1.5vh;
    margin-bottom: -2vh; }
  /* line 652, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li.icon {
    margin-top: 1.5vh; } }

@media screen and (max-width: 770px) {
  /* line 658, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    font-size: 1.8vh; } }

@media screen and (max-width: 680px) {
  /* line 664, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  li a {
    padding-left: 0.5;
    padding-right: 0.5; } }

@media screen and (max-device-width: 650px) {
  /* line 672, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #header img {
    width: 120px; }
  /* line 676, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  .menu li a {
    font-size: 20px;
    margin-top: 4vh; }
  /* line 681, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #logo-mobile img {
    width: 6vw; }
  /* line 685, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #connection {
    margin-left: 50vw;
    font-size: 5vh; }
  /* line 690, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu {
    height: 15vh; }
  /* line 694, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive {
    height: 58vh; }
  /* line 698, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li {
    margin-top: -0.5vh;
    margin-bottom: -0.5vh; }
  /* line 703, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li.icon {
    margin-top: -0.3vh; } }

@media screen and (max-device-width: 450px) {
  /* line 710, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #header img {
    width: 150px; }
  /* line 714, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  .menu li a {
    font-size: 20px;
    margin-top: 0vh; }
  /* line 719, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #logo-mobile img {
    width: 8vw; }
  /* line 723, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  #connection {
    margin-left: 20vw;
    font-size: 3vh; }
  /* line 728, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu {
    height: 8vh; }
  /* line 732, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive {
    height: 35vh; }
  /* line 736, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li {
    margin-top: 1.7vh;
    margin-bottom: -2vh; }
  /* line 741, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li.icon {
    margin-top: 1.7vh; } }

@media screen and (max-device-width: 360px) {
  /* line 747, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li {
    margin-top: 1.3vh;
    margin-bottom: -2vh; }
  /* line 752, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  ul.menu.responsive li.icon {
    margin-top: 1.3vh; } }

/* ------------ FOOTER MEDIA QUERIES ------------ */
@media screen and (max-width: 768px) {
  /* line 761, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  footer nav li {
    padding-bottom: 3vh; }
  /* line 766, C:/wamp64/www/ProjetCaem/resources/assets/sass/app.scss */
  footer nav {
    padding: 8vh 0vh 5vh 0vh; } }

/*# sourceMappingURL=app.css.map */
